.App {
  text-align: center;
  padding: 20px;
  font-size: 120%;
  background-color: burlywood;
}

.usual_button {
  padding: 2px;
  margin: 5px;
  font-size: 100%;
  background-color: lightgreen;
  border-radius: 15%;
}

.start {
  padding: 5px;
  margin: 5px;
  font-size: 120%;
  background-color: #eee;
}

.start:focus {
  border-color: red;
  background-color: #fff;
  outline: none;
}

.add_info_button {
  padding: 24px;
  margin: 50px;
  font-size: 120%;
  border-radius: 5px;
}